<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="masaya.release.manage_menu">

    <application
        android:name=".FoodMenuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ManageMenu">
        <activity
            android:name=".EditFoodmenuActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_foodmenu"
            android:theme="@style/Theme.ManageMenu.NoActionBar" />
        <activity
            android:name=".AddFoodmenuActivity"
            android:exported="false"
            android:label="@string/title_activity_add_foodmenu"
            android:theme="@style/Theme.ManageMenu.NoActionBar" />
        <activity
            android:name=".ListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>